.DS_Store
workspace/.DS_Store
trunk/CountItOut.xcodeproj/project.xcworkspace/xcuserdata/the31streaper.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store

.DS_Store

.DS_Store

.DS_Store

trunk/.DS_Store

trunk/Frank/.DS_Store

workspace/.DS_Store

workspace/.DS_Store

*.index

*.index

*.xml

workspace/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/508129413.index

workspace/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt

workspace/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
